<article class="category">
  <h1 class="title">Select a category to see further information and sub-categories within that region...</h1>
  <%= render :partial => 'elem_partials/category_list_partials/#{elem.display_type_partial}', :locals => {category => elem.category} %>
</article>

