<div class="breadcrumb">
  <%=link_to 'Products', inventory_path() %>
  <%#= raw( (@search_words_array.collect {|word| " &gt; <a href='#'>'#{html_escape(word)}'</a>"}).to_s) %>
  <%= raw(" &gt; <a href='#'>'#{html_escape(@search_params[:searchText])}'</a>") %>
</div>

