<footer id="footer" class="cf">
  <div id="copyright">
    <img alt="enpac" src="/www/template/logo.png" />
    <p>
      &copy; Copyright 2011. ENPAC LLC.<br />
      <a href="http://www.enpac.com/terms">Terms of Use</a>
    </p>
  </div>
  <div id="contactInformation">
    <h5>Contact Information</h5>
    <p>
      Phone: 1-800-9ENPAC9 (800-936-7229)<br />
      Fax: 1-800-99ENPAC (800-993-6722)<br />
      E-mail: <a href="mailto:info@enpac.com">info@enpac.com</a>
    </p>
    <img style="float: right;" src="/www/template/usa.png" alt="Made In The USA" />
    <p>
      34355 Vokes Drive<br />
      Eastlake, OH 44095
    </p>
    <p>
      Visit: <a href="http://maps.google.com/maps?hl=en&safe=off&q=34355+Vokes+Dr+Eastlake,+OH+44095&ie=UTF8&hq=&hnear=34355+Vokes+Dr,+Eastlake,+Lake,+Ohio+44095&gl=us&ei=RLx-S8zTJob9nAfvov1j&ved=0CAcQ8gEwAA&t=h&z=16" target="_blank">Driving Directions</a>
    </p>
  </div>
  <div id="siteMap">
    <h5>Site Map</h5>
    <ul class="globalMenu footerNav">
      <li class="selectedPage"><a class="selectedPage" href="http://www.enpac.com/">Home</a></li>
      <li><a href="http://www.enpac.com/about-us">About Us</a></li>
      <li><a href="/inventory">Products</a></li>
      <li><a href="http://www.enpac.com/catalog">Catalog</a></li>
      <li><a href="http://www.enpac.com/on-the-job">On The Job</a></li>
      <li><a href="http://www.enpac.com/distributors">Distributors</a></li>
      <li><a href="http://www.enpac.com/resources">Resources</a></li>
      <li><a href="http://www.enpac.com/partners">Partners</a></li>
      <li><a href="http://www.enpac.com/contact-us">Contact us</a></li>
    </ul>
  </div>
  <div id="translationContainer">
    <p>
      <a href="http://www.facebook.com/pages/Enpac-Containment/153900904662656?sk=wall"><img src="/www/template/facebook.png" alt="Join Us on Facebook" /></a>
      <a href="http://twitter.com/enpacllc"><img src="/www/template/twitter.png" alt="Follow Us on Twitter" /></a><br />
      <a href="tellus"><img src="http://enpac.publishpath.com/template/letusknow.png" alt="Let us know how we are doing" /></a>
    </p>
    <h5>Translate Our Web Site</h5>
    <div id="google_translate_element"></div>
  </div>
</footer>
