<header id="header" class="cf">
  <h1 id="logo"><%= link_to (image_tag "/www/template/logo.png", :alt => "logo"), :root %></h1>
  <img id="tag-line" src="/www/template/tag-line.png" alt="Global Leader in spill prevention, containment and control products" />
</header>
