common: &common
  adapter: postgresql
  username: macklin
  password: Boards05

development:
  <<: *common
  database: enpac_dev

test:
  <<: *common
  database: enpac_test

production:
  <<: *common
  database: enpac_production

