<% unless dimension.external_diameter.empty? %> <p id="circular-external-diameter" class="cm-in"><%= dimension.external_diameter%></p><% end %>
<% unless dimension.internal_diameter.empty? %> <p id="circular-internal-diameter" class="cm-in"><%= dimension.internal_diameter%></p><% end %>
<% unless dimension.external_height.empty? %> <p id="circular-external-height" class="cm-in"><%= dimension.external_height%></p><% end %>
<% unless dimension.internal_height.empty? %> <p id="circular-internal-height" class="cm-in"><%= dimension.internal_height%></p><% end %>